 {% extends "::base.html.twig" %} {% block title %}AppBundle:FrontController:index{% endblock %} {% block body %}

<div class="container container-chapo">
  <h3 class="col-md-12 chapo-home">Un tatouage est la reproduction d'une histoire, d'une blessure, d'un sentiment dont on veut se souvenir éternellement.</h3>
  <div class="separator-line col-md-2">
  </div>
</div>

<span id="scroll-to"></span>
<!-- <div class="mosaique container">
  <div class="row">
    <div class="column">
      <div class="container-img">
        <div class="hover-img-1">
          <div class="text-img">Travel</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/james-douglas-730-unsplash.jpg')}}">

      </div>
      <div class="container-img">
        <div class="hover-img-2">
          <div class="text-img">Dream</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/peter-sjo-190966-unsplash.jpg')}}">
      </div>
      <div class="container-img">
        <div class="hover-img-3">
          <div class="text-img">Think</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/flavio-gasperini-596276-unsplash.jpg')}}">
      </div>
    </div>
    <div class="column-2">
      <div class="container-img">
        <div class="hover-img-4">
          <div class="text-img">Trust</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/jake-davies-252796-unsplash.jpg')}}">
      </div>
      <div class="container-img">
        <div class="hover-img-5">
          <div class="text-img">Hope</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/clem-onojeghuo-146651-unsplash.jpg')}}">
      </div>
      <div class="container-img">
        <div class="hover-img-6">
          <div class="text-img">Adventure</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/a-l-l-e-f-v-i-n-i-c-i-u-s-178362-unsplash.jpg')}}">
      </div>
    </div>
    <div class="column-3">
      <div class="text-special-size">
        <h2 class="text-mosaique">
          Lorem ipsum dolor
        </h2>
      </div>
      <div class="container-img">
        <div class="hover-img-7">
          <div class="text-img">Pepole</div>
        </div>
        <img class="img-special-size image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/milkovi-435675-unsplash.jpg')}}">
      </div>
      <img class="img-special-size" src="{{ asset('/bundles/app/asset/img/joshua.jpg')}}">
      <div class="container-img">
        <div class="hover-img-8">
          <div class="text-img">Pepole</div>
        </div>
        <img class="image-grille" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/trevor-cole-1067285-unsplash.jpg')}}">
      </div>
    </div>
  </div> -->

</div>
<div class="container-fluid mosaique">
  <div class="row">
    <div class="column col-md-4">
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-1.jpg')}}">
      </div>
      <div class="mosaique-over-effect">
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-4.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-5.jpg')}}">
      </div>
    </div>
    <div class="column col-md-4">
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-6.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-3.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-7.jpg')}}">
      </div>
    </div>
    <div class="column col-md-4">
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-2.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-9.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-8.jpg')}}">
      </div>
    </div>
  </div>
</div>


{% for article in articles %} {% if loop.index is divisible by(2) %}
<div class="container container-article">
  <div class="row">
    <div class="col-md-6 container-info-article-right">
      <div class="div-article-titre">
        <h1 class="h1-article">
          {{ article.title|capitalize }}
        </h1>
      </div>
      <div class="div-paragraphe-article">
        <p class="paragraphe-article">
          {{ article.description[:180] }} ...
        </p>
      </div>
      <div class="div-btn" >
        <a  class="style-btn-text" href="{{ path('show', { 'id': article.id }) }}">
          see more
        </a>
      </div>
    </div>
    <div class="col-md-5">
      <img class="size-img-article" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img_article/' ~ article.image) }}">
    </div>
  </div>
</div>



{% else %}
<div class="container container-article">
  <div class="row">
    <div class="col-md-5" >
      <img class="size-img-article" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img_article/' ~ article.image) }}">
    </div>
    <div class="col-md-6 container-info-article-left">
      <div class="div-article-titre">
        <h1 class="h1-article">
          {{ article.title|capitalize }}
        </h1>
      </div>
      <div class="div-paragraphe-article-left">
        <p class="paragraphe-article">
          {{ article.description[:180] }}...
        </p>
      </div>
        <div class="div-btn">
          <a class="style-btn-text" href="{{ path('show', { 'id': article.id }) }}">
            see more
          </a>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endfor %} {% endblock %}