 {% extends "::base.html.twig" %} {% block title %}AppBundle:FrontController:index{% endblock %} {% block body %}

<div class="container container-chapo">
  <h3 class="col-md-12 chapo-home">
      A tattoo is the reproduction of a story, a wound, a feeling that you want to remember forever.</h3>
  <div class="separator-line col-md-2">
  </div>
</div>

<span id="scroll-to"></span>


</div>
<div class="container mosaique">
  <div class="row">
    <div class="column col-md-4">
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-1.jpg')}}">
      </div>
      <div>
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-4.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-5.jpg')}}">
      </div>
    </div>
    <div class="column col-md-4">
      <div>
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-6.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-3.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-7.jpg')}}">
      </div>
    </div>
    <div class="column col-md-4">
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-2.jpg')}}">
      </div>
      <div class="mosaique-over-effect" >
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-9.jpg')}}">
      </div>
      <div>
        <img  src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img-mosaique/img-mosa-8.jpg')}}">
      </div>
    </div>
  </div>
</div>


{% for article in articles %} {% if loop.index is divisible by(2) %}
<div class="container container-article">
  <div class="row">
    <div class="col-md-6 container-info-article-right">
      <div class="div-article-titre">
        <h1 class="h1-article">
          {{ article.title|capitalize }}
        </h1>
      </div>
      <div class="div-paragraphe-article">
        <p class="paragraphe-article">
          {{ article.description[:180] }} ...
        </p>
      </div>
      <div class="div-btn" >
        <a  class="style-btn-text" href="{{ path('show', { 'id': article.id }) }}">
          see more
        </a>
      </div>
    </div>
    <div class="col-md-5">
      <img class="size-img-article" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img_article/' ~ article.image) }}">
    </div>
  </div>
</div>



{% else %}
<div class="container container-article">
  <div class="row">
    <div class="col-md-5" >
      <img class="size-img-article" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img_article/' ~ article.image) }}">
    </div>
    <div class="col-md-6 container-info-article-left">
      <div class="div-article-titre">
        <h1 class="h1-article">
          {{ article.title|capitalize }}
        </h1>
      </div>
      <div class="div-paragraphe-article-left">
        <p class="paragraphe-article">
          {{ article.description[:180] }}...
        </p>
      </div>
        <div class="div-btn">
          <a class="style-btn-text" href="{{ path('show', { 'id': article.id }) }}">
            see more
          </a>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endfor %} {% endblock %}