{% extends "::base.html.twig" %}

{% block title %}AppBundle:FrontController:show{% endblock %}

{% block body %}
 <h1>Article</h1>
    <table>
        <tbody>
            <tr>
                <th>Autor</th>
                <td>{{ article.user }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Liste des commentaires</h2>
    {% for comment in comments %}
            <tr>
            <ul>
            <li>
                <td><a href="{{ path('comment_show', { 'id' : comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.content }}</td>
                </li>
            </ul>
            </tr>
        {% endfor %}
    <ul>
        <li>
            <a href="{{ path('index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
