{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
<tbody>
    <div class="container-fluid">
    <div class="container">
    <div class="login_wrapper login col-md-6 offset-md-3">
        <div id="scroll-to"class="animate form login_form">
            <section class="login_content">
                <form class="container-form-connect" action="{{ path("fos_user_security_check") }}" method="post">
    
                    {% if csrf_token %}
                        <input class="input-form" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-connect">
                        <h2 class="conect">Sign in</h2>
                        <img class="icon-connect" src="{{ asset('/promo3/tcristophol/blog-tcr/bundles/app/asset/img/profil-connect.png') }}">
                        <div class="separator"></div>
                    </div>
                    <div>
                        <input class="input-form" type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control conect-input" placeholder="Username" />
                    </div>
                    <div>
                        <input  class="input-form" type="password" id="password" name="_password" required="required" class="form-control conect-input" placeholder="Password" />
                    </div>
                    <div>
                        <div>
                            <button  class="btn-2 btn-log" type="submit" id="_submit"  name="_submit">{{ 'security.login.submit'|trans }}</button>
                        </div>
                    </div>
                    
                        <a class="reset-pass pass-reset" href="{{ path('fos_user_resetting_request') }}">Password lost ?</a>
                
    
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
    
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
    </div>
    </div>
</tbody>
{% endblock %}